In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:
pyspark.__version__

'3.5.5'

In [3]:
spark = SparkSession.builder \
    .master('spark://biccboii.:7077') \
    .appName('test') \
    .getOrCreate()

25/03/07 19:53:44 WARN Utils: Your hostname, biccboii resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/03/07 19:53:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/07 19:53:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [8]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [9]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [10]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [11]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [12]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [13]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [14]:
set(df_yellow.columns) & set(df_green.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [15]:
df_green = df_green.withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime')

In [16]:
df_green = df_green.withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [17]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [18]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [19]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [20]:
set(df_yellow.columns) & set(df_green.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [21]:
common = []
yellow = df_yellow.columns
for col in df_green.columns:
    if col in yellow:
        common.append(col)

In [24]:
common = [
    'VendorID',
     'pickup_datetime',
     'dropoff_datetime',
     'store_and_fwd_flag',
     'RatecodeID',
     'PULocationID',
     'DOLocationID',
     'passenger_count',
     'trip_distance',
     'fare_amount',
     'extra',
     'mta_tax',
     'tip_amount',
     'tolls_amount',
     'improvement_surcharge',
     'total_amount',
     'payment_type',
     'congestion_surcharge'
]

In [25]:
df_g = df_green \
    .select(common) \
    .withColumn('service_type', F.lit('green'))

In [26]:
df_y = df_yellow \
    .select(common) \
    .withColumn('service_type', F.lit('yellow'))

In [27]:
df_trips_data = df_g.unionAll(df_y)

In [29]:
df_trips_data.createOrReplaceTempView('trips_data')

In [30]:
df_result = spark.sql("""
SELECT 
    -- Revenue grouping 
    PULocationID AS revenue_zone,
    date_trunc("month", "pickup_datetime") AS revenue_month, 

    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    --SUM(ehail_fee) AS revenue_monthly_ehail_fee, -- removed only in green
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,

    -- Additional calculations
    --COUNT(trip_id) AS total_monthly_trips, --did not calculate tripid
    AVG(passenger_count) AS _monthly_passenger_count,
    AVG(trip_distance) AS _monthly_trip_distance

    FROM trips_data
    GROUP BY revenue_zone,revenue_month,service_type
""")

In [31]:
df_result.show()

[Stage 6:====================================================>    (23 + 2) / 25]

+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------+----------------------+
|revenue_zone|revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|_monthly_passenger_count|_monthly_trip_distance|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------+----------------------+
|         254|         NULL|       green|   278150.7100000002|             11320.52|                  854.5|         9569.899999999998|          13415.779999999972|                   2786.1000000000413|           316342.1099999994|       1.138095238095238|    249.57145962406813|
|          38|         NULL|       green|   82767.60999999994|               2537.6|                  237.5|                   2433.53|           3530.910000000001|                    664.1999999999981|           92221.79999999999|      1.1342925659472423|    151.58323426573426|
|         229|         NULL|       green|  13658.470000000001|    689.3000000000001|                   23.0|                    388.43|           789.0999999999999|                    132.0000000000001|          15699.049999999997|      1.2222222222222223|      8.25965986394558|
|         188|         NULL|       green|  430873.55000000104|             21162.42|                 1931.0|        19095.489999999998|           6813.590000000003|                    5714.400000000045|          486763.99999999854|      1.1596080910240203|     82.27654449456647|
|         232|         NULL|       green|   40609.97999999999|              1913.95|                  64.55|        1314.6000000000001|          1395.4100000000003|                   403.49999999999955|                    45729.54|       1.069767441860465|     261.1684855233854|
|          91|         NULL|       green|   250313.2200000006|             12562.13|                  787.0|                   8716.69|           6357.609999999999|                     2745.30000000004|          281822.25000000035|      1.1644120707596255|    150.86490212498688|
|         134|         NULL|       green|  237161.71000000002|              10112.5|                 5852.0|                  17749.85|           4267.540000000002|                    4513.199999999861|           280469.1500000038|      1.3807110815750125|    14.592568801313629|
|         241|         NULL|       green|  146435.97000000003|    4976.450000000001|                  874.5|         5909.280000000001|           5791.600000000004|                   1537.1999999999987|          165902.94999999966|      1.1257344300822563|     142.7736909709105|
|          93|         NULL|       green|  30308.009999999995|               655.65|                  297.5|        2848.0600000000004|          1195.7500000000002|                    314.0999999999997|           35931.47000000002|      1.3621399176954732|     7.395726179463459|
|         101|         NULL|       green|  39496.089999999975|   1367.1999999999998|                  112.0|        1092.3700000000001|           952.1200000000003|                    323.9999999999997|           43368.63000000001|                     1.2|     195.6959838998211|
|         118|         NULL|       green|   4471.259999999999|                41.25|                   25.5|                     90.87|           650.9100000000001|                                 23.7|                     5303.49|       1.169811320754717|    18.348101265822788|
|         189|         NULL|       green|    94516.5799999999|              4349.99|                 1131.0|         7784.499999999999|                      769.13|                   1469.4000000000065|          111309.84999999974|      1.2221715328467153|    100.36491477842385|
|         153|         NULL|       green|   44446.13999999999|   1739.5999999999997|                  314.0|                   1898.36|                      836.81|                    538.4999999999989|          49846.360000000044|      1.1730769230769231|     85.14134782608694|
|         221|         NULL|       green|             4423.11|                 43.0|                   25.5|         97.50999999999999|                      650.65|                   25.199999999999996|           5278.719999999999|      1.5272727272727273|    15.346785714285712|
|         225|         NULL|       green|   327440.8000000003|   15683.279999999997|                 1740.5|        14035.019999999999|           6848.680000000001|                   4104.9000000000315|                   370806.53|       1.153555479216764|     26.19238507567759|
|          76|         NULL|       green|   519384.7099999992|   22772.819999999996|                 1959.0|                  17321.47|          16248.769999999928|                     5437.20000000002|           583539.5200000027|      1.2111475409836066|     79.12579277697999|
|         227|         NULL|       green|  145901.41000000012|              4067.25|                  700.5|         5313.889999999999|                     1879.97|                   1220.6999999999946|          159232.01999999976|       1.043778801843318|    30.871060496505176|
|          94|         NULL|       green|   82998.72000000004|               3515.7|                  562.0|        3282.3399999999992|          2794.8600000000015|                   1018.7999999999953|           94344.32000000005|      1.1953612845673507|      75.9935528199256|
|          52|         NULL|       green|  204883.63000000012|               6166.2|                 7813.5|        30908.169999999995|          1451.2800000000002|                    4981.799999999811|          262175.63000000414|      1.2154023577652486|     5.637083707293723|
|         160|         NULL|       green|   46051.61999999997|   1986.9499999999998|                  224.0|                   2058.21|          1289.8200000000002|                    539.0999999999987|           52245.80000000001|      1.2039473684210527|      9.66249048395868|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------+----------------------+
only showing top 20 rows

In [32]:
df_result.write.parquet('data/report/revenue/', mode='overwrite')